[Desktop Entry]
Type=Application
Exec=on_unplugged.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=buptime
Name=buptime
Comment[en_US]=Start buptime on frist login
Comment=Start buptime on frist login
