[Unit]
Description=Command Server
After=network.target

[Service]
Type=simple
ExecStart=/etc/scripts/buptime/service_script.sh
User=root
Restart=on-failure

[Install]
WantedBy=multi-user.target
